In [42]:
import pandas as pd

In [43]:
#Models
from sklearn.ensemble import RandomForestClassifier

In [44]:
#Read the data
train = pd.read_csv("train_clean.csv")
train.drop('PassengerId', axis=1, inplace=True)
test = pd.read_csv('test_clean.csv')

In [45]:
train.head()

,Embarked,Fare,Parch,Pclass,Sex,SibSp,Survived,EstimatedAge,FamSize
0,0,7.2500,0,3,0,1,0,22,1
1,1,71.2833,0,1,1,1,1,38,1
2,0,7.9250,0,3,1,0,1,26,0
3,0,53.1000,0,1,1,1,1,35,1
4,0,8.0500,0,3,0,0,0,35,0

In [46]:
test.head()

,Embarked,Fare,Parch,PassengerId,Pclass,Sex,SibSp,EstimatedAge,FamSize
0,2,7.8292,0,892,3,0,0,34.5,0
1,0,7.0000,0,893,3,1,1,47.0,1
2,2,9.6875,0,894,2,0,0,62.0,0
3,0,8.6625,0,895,3,0,0,27.0,0
4,0,12.2875,1,896,3,1,1,22.0,2

#First model - Random Forest

In [47]:
forest = RandomForestClassifier(n_estimators = 2000)
forest = forest.fit(train.drop(['Survived'], axis=1).values,train['Survived'])
output = forest.predict(test.drop(['PassengerId'], axis=1).values)

In [48]:
result = pd.DataFrame(test['PassengerId'])
result['Survived'] = output.astype(int).tolist()

In [49]:
result.to_csv("result.csv", index=False)