In [6]:
import pandas as pd

In [7]:
#Models
from sklearn.ensemble import RandomForestClassifier

In [83]:
#Read the data
train = pd.read_csv("train_clean.csv")
train.drop('PassengerId', axis=1, inplace=True)
test = pd.read_csv('test_clean.csv')

In [90]:
train.head()

   Parch  Pclass  Sex  SibSp  Survived  EstimatedAge
0      0       3    1      1         0            22
1      0       1    0      1         1            38
2      0       3    0      0         1            26
3      0       1    0      1         1            35
4      0       3    1      0         0            35

In [93]:
test.head()

   Parch  PassengerId  Pclass  Sex  SibSp  EstimatedAge
0      0          892       3    1      0          34.5
1      0          893       3    0      1          47.0
2      0          894       2    1      0          62.0
3      0          895       3    1      0          27.0
4      1          896       3    0      1          22.0

#First model - Random Forest

In [94]:
forest = RandomForestClassifier(n_estimators = 100)
forest = forest.fit(train.drop(['Survived'], axis=1).values,train['Survived'])
output = forest.predict(test.drop(['PassengerId'], axis=1).values)

In [107]:
result = pd.DataFrame(test['PassengerId'])
result['Survived'] = output.astype(int).tolist()

In [108]:
result.to_csv("result.csv", index=False)